<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ubtrobot.mini.speech.framework.demo">

  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <application
      android:name=".SpeechApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <service
        android:name=".DemoMasterService"
        android:exported="true">
      <meta-data
          android:name="master.service"
          android:resource="@xml/service_demo" />
    </service>
    <meta-data android:name="ubt-master-app" android:value="third_part_speechservice"/>
  </application>

</manifest>